@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

body {
  font-family: 'Open Sans', sans-serif;
}

body .main-container {
  margin-top: 30px;
}

.row.sentiment-filters {
  padding-right: 25px;
}

.template {
  display: none;
}

.loading {
  color: #999;
}

.post {
  margin: 10px;
  padding: 10px;
}

.post.sentiment-neutral {
  background: #eee;
}

.post.sentiment-negative {
  background: #faa;
}

.post.sentiment-positive {
  background: #afa;
}

.post .content {
  font-size: 15px;
}

.post .time-published {
  font-size: 12px;
  font-style: italic;
}

#StreamContainer {
  float: right;
}

#FilterMenu {
  padding-top: 20px;
}

#FilterMenu h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}

#FilterMenu .name {
  font-size: 15px;
  font-weight: bold;
}

#FilterMenu .values {
  margin: 10px;
}

#FilterMenu .values .value {
  cursor: pointer;
  padding: 4px;
  margin: 3px 0;
}

#FilterMenu .values .value.selected {
  background: #ffffaa;
}

.btn.sentiment-positive {
  color: green;
}

.btn.sentiment-positive.active {
  background: green;
  color: white;
}

.btn.sentiment-negative {
  color: red;
}

.btn.sentiment-negative.active {
  background: red;
  color: white;
}